FIREBASE_WEB_API_KEY=cole_a_api_key_web_do_firebase
CLOUDINARY_CLOUD_NAME=cole_o_cloud_name
CLOUDINARY_API_KEY=cole_a_api_key_do_cloudinary
CLOUDINARY_API_SECRET=cole_o_api_secret_do_cloudinary
AUTHORIZED_EMAILS=email1@exemplo.com,email2@exemplo.com
